<html>
    <head>
        <title>Main</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="main">
            <div class="top">
                <img src={{logo}}>
                <pre>DANCOSAN BANK</pre>
            </div>
            <hr>
            <div>
                <div class="row">
                    <div class="col">
                        <div  class="left">
                            <button><a >Withdraw</a></button>
                            <button><a (click)="toBalance()">Check Balance</a></button>
                            <button><a >Transfer</a></button>
                        </div>
                    </div>
                
                    <div class="col">
                        <div class="right">
                            <button><a >View History</a></button>
                            <button><a >Change PIN</a></button>
                            <button><a >Exit</a></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
    <footer>
        
    </footer>
</html>



