<html>
    <head>
        <title>Withdraw</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 1
                    </button>
                    <button>
                        BUTTON 2
                    </button>
                    <button>
                        BUTTON 3
                    </button>
                </div>
                <div class="col-sm-8 main">
                    <div class="top">
                        <img src={{logo}}>
                        <pre>DANCOSAN BANK</pre>
                    </div>
                    <hr>
                    <!-- <div class="table container">            
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>LogType</th>
                              <th>DateTime</th>
                              <th>Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let l of logs">
                              <td>{{l.logtype.description}}</td>
                              <td>{{l.logDate}}</td>
                              <td>{{l.amount}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div> -->
                    <ngx-datatable
                        class="material"
                        [rows]="logs"
                        [columns]="[{ name: 'logId' }, { name: 'amount' }, { name: 'logDate' }, { name: 'description' }]"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        rowHeight="31"
                        [limit]="10" >
                    </ngx-datatable>
                </div>
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 4
                    </button>
                    <button>
                        BUTTON 5
                    </button>
                    <button>
                        BUTTON 6
                    </button>
                </div>
            </div>
        </div>
    </body>

    <footer>
        
    </footer>
</html>



