<html>
    <head>
        <title>Withdraw</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="control-button col-md-2">
                    <button (click)="toHistory(7)">
                        BUTTON 1
                    </button>
                    <button (click)="toHistory(180)">
                        BUTTON 2
                    </button>
                    <button (click)="toHistory(730)">
                        BUTTON 3
                    </button>
                </div>
                <div class="col-sm-8 main">
                    <div class="top">
                        <img src={{logo}}>
                        <pre>{{bankName}}</pre>
                    </div>
                    <hr>
                <div class="amount container">
                    <div class="container">
                        <h4> Choose time criteria to view transaction history.</h4>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                            <div class="col-md-7">
                                <div>
                                    <button class="btn1 btn-warning" disabled>1 WEEK AGO</button>
                                    <button class="btn1 btn-warning" disabled>6 MONTH AGO</button>
                                    <button class="btn1 btn-warning" disabled>2 YEAR AGO</button>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <button class="btn1 btn-warning" disabled>1 MONTH AGO</button>
                                    <button class="btn1 btn-warning" disabled>1 YEAR AGO</button>
                                    <button class="btn1 btn-warning" disabled>5 YEAR AGO</button>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="control-button col-md-2">
                    <button (click)="toHistory(30)">
                        BUTTON 4
                    </button>
                    <button (click)="toHistory(365)">
                        BUTTON 5
                    </button>
                    <button (click)="toHistory(1825)">
                        BUTTON 6
                    </button>
                </div>
            </div>
        </div>
    </body>

    <footer>
        
    </footer>
</html>



