<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="body container">
            <div class="row">
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 1
                    </button>
                    <button>
                        BUTTON 2
                    </button>
                    <button>
                        BUTTON 3
                    </button>
                </div>
                <div class="col-sm-8 main">
                    <div class="top">
                        <img src={{logo}}>
                        <pre>DANCOSAN BANK</pre>
                    </div>
                    <hr>
                    <div class="container">
                        <form [formGroup] = "loginForm" novalidate>
                            <h2>Please enter your card</h2>
                            <div class="container">
                                <div id="error">
                                    <div *ngIf=alertLogin class=" col-md-9 check alert alert-warning" role="alert">
                                        <strong>Card Number or PIN is incorrect!</strong> Please try again!
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="col-sm-5"></div>
                                <div id="block" class="col-sm-7">
                                    <div *ngIf=block class="check alert alert-warning" role="alert">
                                        <strong>Your Card Was Blocked</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="iCardNo">Card Numbers</label>
                                <input type="text" id="iCardNo" formControlName="cardNo" class="form-control" minlength="16" maxlength="16">
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="loginForm.controls.cardNo?.errors?.required && loginForm.controls.cardNo?.touched">
                                    Card Number is required!
                                </div>
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="loginForm.controls.cardNo?.errors?.minlength">
                                    Card Number is too short!
                                </div>
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="loginForm.controls.cardNo?.errors?.pattern">
                                    Card Number is number only!
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="iPin">PIN</label>
                                <input type="password" id="iPin" formControlName="pinCode" class="form-control" minlength="6" maxlength="6">
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="loginForm.controls.pinCode.errors?.required && loginForm.controls.pinCode.touched">
                                    PIN is required!
                                </div>
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="loginForm.controls.pinCode.errors?.minlength">
                                    PIN is too short!
                                </div>
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="loginForm.controls.pinCode.errors?.pattern">
                                    Card Number is number only!
                                </div>
                            </div>
                            <button class="btn1 btn-success" disabled>Login</button>
                        </form>
                    </div>
                </div>
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 4
                    </button>
                    <button>
                        BUTTON 5
                    </button>
                    <button type="submit" (click)="OnSubmit()">
                        BUTTON 6
                    </button>
                </div>
            </div>
        </div>

    </body>

    <footer>

    </footer>
</html>



