<html>
    <head>
        <title>Withdraw</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="control-button col-md-2">
                    <button (click)="Withdraw(500000)">
                        BUTTON 1
                    </button>
                    <button (click)="Withdraw(2000000)">
                        BUTTON 2
                    </button>
                    <button (click)="Withdraw(10000000)">
                        BUTTON 3
                    </button>
                </div>
                <div class="col-sm-8 main">
                    <div class="top">
                        <img src={{logo}}>
                        <pre>DANCOSAN BANK</pre>
                    </div>
                    <hr>
                    <div class="amount container">
                        <div class="container">
                            <h4> Choose amount below or enter your amount you want...</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div [ngSwitch]="Err">
                                    <!-- <div *ngSwitchCase="'1'" class="col alert alert-danger" role="alert">
                                        Amount must be less than 50,000đ and bigger than 10,000,000đ.
                                    </div> -->
                                    <div *ngSwitchCase="'2'" class="col alert alert-danger" role="alert">
                                        Your account not enough money! Please top up.
                                    </div>

                                    <div *ngSwitchCase="'3'" class="col alert alert-danger" role="alert">
                                        You can't withdraw beyond the limit for one day.
                                    </div>
                                </div>                 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div>
                                    <button class="btn1 btn-warning" disabled>{{am1 | price}}</button>
                                    <button class="btn1 btn-warning" disabled>{{am3 | price}}</button>
                                    <button class="btn1 btn-warning" disabled>{{am5 | price}}</button>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <button class="btn1 btn-warning" disabled>{{am2 | price}}</button>
                                    <button class="btn1 btn-warning" disabled>{{am4 | price}}</button>
                                    <button class="btn1 btn-warning" disabled>Enter Other</button>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="control-button col-md-2">
                    <button (click)="Withdraw(1000000)">
                        BUTTON 4
                    </button>
                    <button (click)="Withdraw(5000000)">
                        BUTTON 5
                    </button>
                    <button (click)="toOther()">
                        BUTTON 6
                    </button>
                </div>
            </div>
        </div>
    </body>

    <footer>
        
    </footer>
</html>



