<html>
    <head>
        <title>Withdraw Success</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 1
                    </button>
                    <button (click)="toReceipt()">
                        BUTTON 2
                    </button>
                    <button>
                        BUTTON 3
                    </button>
                </div>
                <div class="main col-md-8">
                    <div class="top">   
                        <img src={{logo}}>
                        <pre>DANCOSAN BANK</pre>
                    </div>
                    <hr>
                    <div class="container">
                        <h2>Withdraw Successfull</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="receipt">
                                <p> Do you want to print receipt ?</p>
                                <button class="btn1 btn-primary" disabled>OK</button>
                                <button class="btn2 btn-danger" disabled>CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 4
                    </button>
                    <button>
                        BUTTON 5
                    </button>
                    <button>
                        BUTTON 6
                    </button>
                </div>
            </div>
        </div>


    </body>
    <footer>

    </footer>
</html>