<html>
    <head>
        <title>Withdraw</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 1
                    </button>
                    <button>
                        BUTTON 2
                    </button>
                    <button type="submit" (click)="withdraw()">
                        BUTTON 3
                    </button>
                </div>
                <div class="col-sm-8 main">
                    <div class="top">
                        <img src={{logo}}>
                        <pre>DANCOSAN BANK</pre>
                    </div>
                    <hr>
                    <div class="label container">
                            <h4>Enter your amount you want to withdraw below.</h4>
                            <h4>The number you enter has to divisible to 50000đ</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="col alert alert-danger" role="alert" *ngIf="checkBalance">
                                        Your account not enough money! Please top up.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="col alert alert-danger" role="alert" *ngIf="format">
                                        Amount must be a multiples of 50000.
                            </div>
                        </div>
                    </div>
                    <div class="form container">
                        <form [formGroup]= "otherForm" novalidate>

                            <div class="form-group">
                                <label for="other">Please Enter Here ...</label>
                                <input type="text" id="other" formControlName="amount" class="form-control" max="10000000" pattern="^[0-9]*$">
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="otherForm.controls.amount.errors?.required && otherForm.controls.amount.touched">
                                    Please enter number!
                                </div>
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="otherForm.controls.amount.errors?.min">
                                    Amount must be at least 50.000đ !
                                </div>
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="otherForm.controls.amount.errors?.pattern">
                                    Number only!
                                </div>
                                <div class="col alert alert-danger" role="alert" 
                                *ngIf="otherForm.controls.amount.errors?.max">
                                    Amount must be lest than 10.000.000đ !
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn1 btn-success" disabled>OK</button>
                            </div>
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-3">
                                <button class="btn1 btn-danger" disabled>CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-button col-md-2">
                    <button>
                        BUTTON 4
                    </button>
                    <button>
                        BUTTON 5
                    </button>
                    <button (click)="toLogout()">
                        BUTTON 6
                    </button>
                </div>
            </div>
        </div>
    </body>

    <footer>
        
    </footer>
</html>



